@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
body{
    font-family:New Amsterdam;
    background-color:cyan;
    font-size:200%;
    text-align:center;
    text-shadow: 2px 2px 2px white;
}
div{
    background-image:url(kiwi.png);
    background-size:55px;
    background-color:grey;
    width:100px
    margin:auto;
    text-shadow:2px 2px 2px black;
    color:white;
    box-shadow:5px 5px 5px black;
}
#item 1{
        border:5px groove blue;
}
#item 2{
        border: 5px dotted blue;
}
img{
    width:200px;
}
